<div class="ui segments">
  <div class="ui clearing inverted segment">
    <h1 class="ui centered header">Simulación de un sistema <br>de control de temperatura</h1>
  </div>
  
  <div class="ui segment">
    <div class="ui three column grid container center aligned">
      <div class="column">
        <app-sensor [temperatura_deseada]="temperatura_deseada" [mediciones]="mediciones"></app-sensor>
      </div>
      <div class="column">
        <app-microprocesador [error]="mediciones[0].error" [temperatura_micro]="temperatura_micro"
          (accion)="evento_micro($event)">
        </app-microprocesador> 
      </div>
      <div class="column">
        <app-ventilador [velocidad_anterior]="velocidad_anterior" [velocidad_ventilador]="velocidad_ventilador"></app-ventilador>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <app-xray [mediciones]="mediciones"></app-xray>
  </div>
</div>